In [1]:
import yfinance as yf
import pandas as pd

In [12]:
prices = yf.download(['EURMXN=X', 'MXN=X'], start='2020-01-01', end='2025-01-24')['Close']
prices

[*********************100%***********************]  2 of 2 completed

Ticker       EURMXN=X      MXN=X
Date
2020-01-01  21.230801  18.917400
2020-01-02  21.212900  18.898800
2020-01-03  21.046200  18.830299
2020-01-06  21.144400  18.944759
2020-01-07  21.097000  18.841450
...               ...        ...
2025-01-17  21.460199  20.832729
2025-01-20  21.363501  20.791290
2025-01-21  21.358101  20.497240
2025-01-22  21.498199  20.661200
2025-01-23  21.332600  20.487101

[1321 rows x 2 columns]

In [13]:
prices.to_excel('prices.xlsx')

In [14]:
prices.corr()

Ticker    EURMXN=X     MXN=X
Ticker
EURMXN=X  1.000000  0.888796
MXN=X     0.888796  1.000000